# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

HW1/GLSLExperiment/Debug/
HW1/GLSLExperiment.opensdf

# Executables
*.exe
*.out
*.app
*.ipch
*.obj
*.pdb
*.tlog
